<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url  'Inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url  'Profesores' %}">Profesores</a>
        <a class="navbar-brand" href="{% url  'Catedra' %}">Crear Catedras</a>
        <a class="navbar-brand" href="{% url  'Alumnos' %}">Alumnos</a>
        <a class="navbar-brand" href="{% url  'Tareas' %}">Tareas</a>
        <a class="btn btn-primary" href="#signup">Sign Up</a>
    </div>
</nav>