<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url  'Inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'busquedacamada' %}">Buscar algo en la BD</a>
        <a class="navbar-brand" href="{% url  'RegistrarProfesor' %}">RegistrarProfesor</a>
        <a class="navbar-brand" href="{% url  'CatedraFormulario' %}">Registro de Catedras</a>
        
        <a class="btn btn-primary" href="#signup">Sign Up</a>
    </div>
</nav>